.main {
  height: 100%;
  width: 100%;

  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.content {
  display: flex;

  position: relative;

  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: var(--double-spacing);

  border-radius: var(--border-radius);
  transition: all 250ms;

  .content_shade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    height: 100%;
    width: 100%;

    background-color: var(--secondary-color-3);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: all 250ms;
  }

  .show_shade {
    opacity: 0.25;
    transition: all 250ms;
  }
}

.content div:nth-of-type(1) {
  margin-right: auto;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;

  height: 100%;
  width: 30%;
}

.tab_list {
  display: flex;
  flex-direction: column;
  gap: var(--double-spacing);
  align-items: center;
  justify-content: center;

  list-style-type: none;
}

.tab {
  cursor: default;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition: all 250ms;
}

.pointer {
  cursor: pointer;
}

.out_focus {
  color: white;
  opacity: 0.25;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .tab:hover {
    color: white;
    opacity: 1;
  }
}

/* Mobile */
@media (max-width: 810px) {
  .main {
    padding: 0px;

    border-radius: 0px;
  }

  .content {
    flex-direction: column;
    gap: var(--spacing);

    height: fit-content;
    padding: 0px var(--double-spacing) var(--double-spacing)
      var(--double-spacing);

    .content_shade {
      display: none;
    }
  }

  .list {
    height: fit-content;
    width: 100%;
  }

  .tab_list {
    gap: var(--spacing);

    height: fit-content;
    width: 100%;
  }

  .tab {
    display: flex;
    align-items: flex-end;

    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 1;

    background-color: red;
    border-radius: var(--border-radius);
    color: white;
    padding: var(--spacing);
    text-align: left;

    .tab_shade {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;

      height: 100%;
      width: 100%;

      background-color: var(--secondary-color-3);
      border-radius: var(--border-radius);
      opacity: 0.25;
    }

    .tab_title {
      z-index: 1;
    }
  }
}
