:root {
  --max-width: 1500px;
  --border-radius: 5px;
  --spacing: 7px;

  --logo-size-large: 75px;
  --logo-size-small: 50px;
  --slide-animation-duration: 500ms;  /* Change the constant var too */

  --primary-color: #F8F5F1;
  --secondary-color-1: #FFFDF9;
  --secondary-color-2: #E9E6E3;
  --secondary-color-3: #303030;
  --highlight-color: #F67280;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
  color: var(--secondary-color-3);
  background-color: var(--secondary-color-1);
}

body {
  padding: var(--spacing);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 810px) {
  body {
    padding: 0px;
  }
}
