:root {
  --border-radius: 5px;
  --max-width: 1500px;
  --spacing: 7px;
  --double-spacing: 14px;

  --logo-size-large: 75px;
  --logo-size-small: 50px;
  --nav-icon-size: 35px;
  --slide-animation-duration: 500ms; /* Change the constant var too */

  --primary-color: #f8f5f1;
  --secondary-color-1: #fffdf9;
  --secondary-color-2: #e9e6e3;
  --secondary-color-3: #303030;
  --highlight-color: #f67280;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background-color: var(--secondary-color-1);
  color: var(--secondary-color-3);
  letter-spacing: -0.5px;
  line-height: 1;
}

body {
  padding: var(--spacing);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 810px) {
  body {
    padding: 0px;
  }
}
