.load {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: var(--secondary-color-3);
    border-radius: var(--border-radius);
    color: white;
    font-weight: 700;
    font-size: 48px;
}
