.components {
    display: flex;
    gap: var(--spacing);
    
    height: 100%;
    width: 100%;
}

.page {
    position: relative;
    height: 100%;
    width: 100%;

    border-radius: var(--border-radius);
}

/* Mobile */
@media (max-width: 810px) {
    .components {
        flex-direction: column;
        
        position: relative;

        background-color: var(--primary-color);
    }

    .page {
        display: flex;
        flex-direction: column;
        z-index: 1;

        height: auto;
        width: 100%;
        overflow-y: auto;

        border-radius: 0px;
    }
}
