.header {
    display: none;
    
    position: sticky;
    top: 0;
    z-index: 2;

    width: 100%;
    padding: var(--double-spacing);

    background-color: var(--primary-color);
}

.logo {
    position: relative;
}

@media (max-width: 810px) {
    .header {
        display: flex;
    }
    
    .logo {
        height: var(--logo-size-small);
        width: var(--logo-size-small);;
        margin-right: auto;

        cursor: pointer;
    }
    
    .open_mobile_nav {
        height: var(--nav-icon-size);
        width: var(--nav-icon-size);
        
        color: var(--secondary-color-3);
        cursor: pointer;
        stroke-width: 1px;
    }
}
