.loading_wrapper {
  position: absolute;

  width: 100%;
  overflow: hidden;
  z-index: 4;

  border-radius: var(--border-radius);
  transition-duration: var(--slide-animation-duration);
}

.show_loading {
  height: 100%;
}

.hide_loading {
  height: 0%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 2 * var(--spacing));
  width: 100%;

  background-color: var(--secondary-color-3);
  color: white;
  font-weight: 700;
  font-size: 48px;
}

.loading span {
  -webkit-animation: wave-text 1s ease-in-out infinite;
  animation: wave-text 1s ease-in-out infinite;
}

.loading span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* Mobile */
@media (max-width: 810px) {
  .loading_wrapper {
    border-radius: 0px;
  }

  .loading {
    height: 100vh;
  }
}

@-webkit-keyframes wave-text {
  0% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes wave-text {
  0% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0em);
  }
}
