.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  height: 100%;
  width: 270px;
  min-width: 270px;
  max-width: 270px;

  font-size: 12px;
}

.navigate {
  display: flex;
  flex-direction: column;
  gap: var(--double-spacing);

  height: 100%;
  padding: var(--spacing);

  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
}

.logo {
  position: relative;
  height: var(--logo-size-large);
  width: var(--logo-size-large);
  margin-right: auto;

  cursor: pointer;
}

.close_mobile_nav {
  display: none;
}

.tab_list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  list-style-type: none;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: var(--double-spacing);

  border-radius: var(--border-radius);
  cursor: pointer;
  transition-duration: 500ms;
}

.tab_active {
  background-color: var(--secondary-color-2);
}

.title {
  font-weight: 700;
}

.music {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  height: auto;
  padding: var(--spacing);

  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  :not(.tab_active).tab:hover {
    background-color: rgba(233, 230, 227, 0.6);
  }
}

/* Mobile */
@media (max-width: 810px) {
  .navigation_wrapper {
    position: absolute;
    z-index: 3;

    height: 100%;
    width: 100%;
    overflow: hidden;

    border-radius: 0px;
    transition-duration: var(--slide-animation-duration);
  }

  .show_mobile_nav {
    height: 100%;
  }

  .hide_mobile_nav {
    height: 0%;
  }

  .navigation {
    gap: 0px;

    height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    background-color: var(--primary-color);
    border-radius: 0px;
  }

  .navigate {
    padding: var(--double-spacing);

    border-radius: 0px;
  }

  .logo {
    height: var(--logo-size-small);
    width: var(--logo-size-small);
  }

  .close_mobile_nav {
    display: inherit;

    height: var(--nav-icon-size);
    width: var(--nav-icon-size);

    color: var(--secondary-color-3);
    cursor: pointer;
    stroke-width: 1px;
  }

  .music {
    padding: var(--double-spacing);
  }
}
