.navigation {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    height: 100%;
    max-width: 300px;
    min-width: 300px;

    font-size: 12px;
}

.navigate {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    height: 100%;
    padding: var(--spacing);

    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.tab_list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    list-style-type: none;
}

.tab {
    padding: var(--spacing);

    border-radius: var(--border-radius);
    transition-duration: 500ms;
}

.tab_active {
    background-color: var(--secondary-color-2);
}

.tab:hover {
    background-color: rgba(233, 230, 227, 0.6)
}

.title {
    font-weight: 700;
}

.music {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    padding: var(--spacing);

    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}
