.main {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.content {
  display: flex;
  flex-direction: column;

  height: 1500px;
  width: 100%;
  padding: var(--spacing);
}

/* Mobile */
@media (max-width: 810px) {
  .main {
    height: fit-content;
    overflow-y: visible;

    border-radius: 0px;
  }
}
