.main {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
  overflow-y: auto;

  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-spacing);

  height: fit-content;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--double-spacing);
}

.pic_type_1,
.pic_type_2 {
  height: auto;
  width: 100%;

  border-radius: var(--border-radius);
  background-color: white;
}
.pic_type_1 {
  aspect-ratio: 2.5;
}
.pic_type_2 {
  aspect-ratio: 1;
}

.title,
.navigate {
  font-size: 2rem;
  font-weight: 700;
}

.sub_title {
  display: flex;
  gap: var(--content-spacing);

  width: 100%;
}
.sub_title div {
  width: 100%;
}

.info {
  display: flex;
  gap: var(--content-spacing);

  height: fit-content;
  width: 100%;

  font-size: 1rem;

  .details {
    width: 100%;

    list-style: none;
    text-align: right;

    .row {
      display: flex;
      align-items: center;

      height: 50px;

      border-bottom: 1px solid var(--secondary-color-3);
      text-transform: capitalize;
    }

    .row div:nth-of-type(1) {
      margin-right: auto;
    }
  }
  .details li:nth-of-type(1) {
    border-top: 1px solid var(--secondary-color-3);
  }

  .desc {
    width: 100%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  height: fit-content;
  width: 100%;

  .gallery_row {
    display: flex;
    gap: var(--spacing);

    height: fit-content;
    width: 100%;
  }
}

.footer {
  display: flex;

  width: 100%;
  padding-top: var(--content-spacing);

  .navigate {
    cursor: pointer;
    text-align: left;
    transition: all linear 250ms;
  }

  .italic {
    font-style: italic;
  }
}
.footer div:last-child {
  margin-left: auto;
  padding-top: 0;
  text-align: right;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer {
    .navigate:hover {
      color: black;
    }
  }
}

/* Mobile */
@media (max-width: 810px) {
  .main {
    height: fit-content;
    overflow-y: visible;

    border-radius: 0px;
  }

  .pic_type_1 {
    aspect-ratio: 1;
  }

  .title,
  .navigate {
    font-size: 1.5rem;
  }

  .sub_title {
    flex-direction: column;

    .blank {
      display: none;
    }
  }

  .info {
    flex-direction: column;
  }

  .gallery {
    .gallery_row {
      flex-direction: column;
    }
  }
}
